BODY, html {
	font-family: Helvetica, Arial, Sans-Serif;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 100em) {
   body {
	  font-size: 2vw;
   }
}

#cxrLogo {
    display: block;
    margin: 0 auto;
}

#subtitle {
  text-align: center;
}

BODY H1 {
  background: #aaa;
  width: 100%;
  text-align: center;
}

